body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#main {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  position: relative;
  z-index: 1;
  top: 0;
}

#main > header, #main > div {
  align-self: center;
}

header > p.position {
  color: rgb(100, 100, 100);
  font-size: 2rem;
  margin: 1rem 0;
}

.skills > span {
  color: rgb(100, 100, 100);
  font-size: 1.5rem;
}

.skills > span:first-child {
  margin-right: 1rem;
}

.skills > span:not(:first-child) {
  margin: 0 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
}

.background-image {
  width: 100vw;
  height: 100vh;
  position: absolute;
  opacity: .25;
  z-index: -1;
  top: 0;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
}

.profile {
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
}

.profile > img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.profile > .contact {
  min-width: 12vw;
  align-self: center;
  margin: 1rem 0;
  height: 2.5rem;
  border-radius: 1rem;
  background: #0277bd;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all .5s;
  padding: .75rem;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.profile > .contact:hover {
  background: #fff;
  color: #0277bd;
  animation: pop 0.5s ease-in;
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

#godown {
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  color: #0277bd;
  border: .25rem solid #0277bd;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  line-height: 2.75rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  align-self: center;
}

#portfolio {
  background: #ddd;
  padding: 2vw;
  text-align: center;
}

#portfolio h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

#portfolio ul, footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

#portfolio ul {
  margin-bottom: 0;
}

#portfolio ul > li a {
  align-self: center;
  margin: 0 .5rem;
  height: 2.5rem;
  border-radius: 1rem;
  background: #0277bd;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all .5s;
  padding: .75rem;
  align-items: flex-start;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 1rem;
}

#portfolio ul > li a:hover {
  background: #fff;
  color: #0277bd;
  animation: pop 0.5s ease-in;
}

footer {
  min-height: 10vh;
  background: #0277bd;
  display: flex;
  justify-content: center;
}

footer ul > li a {
  color: #fff;
  text-decoration: none;
  font-size: 2.5rem;
  margin: 0 .5rem;
  transition: all .5s;
}

footer ul > li a:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  #main {
    flex-direction: column;
    text-align: center;
  }

  .profile > img {
    width: 75vw;
  }

  .profile {
    margin-right: 0;
  }

  h1 {
    font-size: 3rem;
  }

  header > p.position {
    font-size: 1.5rem;
    margin: .25rem 0;
  }
  
  .skills > span {
    color: rgb(100, 100, 100);
    font-size: 1rem;
    font-weight: 100;
  }

  .skills > span:first-child {
    margin-right: .5rem;
  }
  
  .skills > span:not(:first-child) {
    margin: 0 .5rem;
  }

  #portfolio ul {
    flex-direction: column;
  }

  #portfolio ul > li {
    margin-bottom: .5rem;
  }
}
